<!-- 
      __         __   ___       
|  | |__)   +   |  \ |__   |\/| 
\__/ |__)       |__/ |     |  | 

copyright: 2015
-->


<!-- THIS IS THE TEMPLATE FOR ALL PAGES EXCEPT THE BLOG -->
<!-- page-specific content is inserted into the template via the yield statement in the body below -->

<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <title>
      <%
      case page_classes.split(" ").first
        when "index"
          title = "Los Angeles Graphic Design | Los Angeles Web Design | Los Angeles Branding Agency"
        when "about"
          title = "Los Angeles Graphic Design | Los Angeles Web Design | Los Angeles Branding Agency"
        when "blog"
          title = "Los Angeles Graphic Design | Los Angeles Web Design | Los Angeles Branding Agency"
        when "contact"
          title = "Los Angeles Graphic Design | Los Angeles Web Design | Los Angeles Branding Agency"
        when "strategy"
          title = "Los Angeles Graphic Design | Los Angeles Web Design | Los Angeles Branding Agency"
        when "identity"
          title = "Los Angeles Graphic Design | Los Angeles Web Design | Los Angeles Branding Agency"
        when "packaging"
          title = "Los Angeles Graphic Design | Los Angeles Web Design | Los Angeles Branding Agency"
        when "imagery"
          title = "Los Angeles Graphic Design | Los Angeles Web Design | Los Angeles Branding Agency"
        when "interactive"
          title = "Los Angeles Graphic Design | Los Angeles Web Design | Los Angeles Branding Agency"
        when "environment"
          title = "Los Angeles Graphic Design | Los Angeles Web Design | Los Angeles Branding Agency"
        when "environment"
          title = "Los Angeles Graphic Design | Los Angeles Web Design | Los Angeles Branding Agency"
        when "kavaldon"
          title = "Los Angeles Graphic Design | Los Angeles Web Design | Los Angeles Branding Agency"
        when "selvarey"
          title = "Los Angeles Graphic Design | Los Angeles Web Design | Los Angeles Branding Agency"
        when "AVF"
          title = "Los Angeles Graphic Design | Los Angeles Web Design | Los Angeles Branding Agency"
        when "velvet"
          title = "Los Angeles Graphic Design | Los Angeles Web Design | Los Angeles Branding Agency"
        else
          title = "Los Angeles Graphic Design | Los Angeles Web Design | Los Angeles Branding Agency"
        end
      %>
      <%= title %>

    </title>

    <link href="http://50.87.248.116/~drawini3/favicon.png" rel="icon">
    <%= stylesheet_link_tag "application" %>
  </head>

  
  <body class="<%= page_classes %>">
    <%= partial "layouts/loading_page" %>
    <%= partial "layouts/header" %>
    <%= partial "layouts/nav_page" %>

    <%= yield %> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <%= javascript_include_tag  "application" %>
  </body>

</html>