<div id="main">
	<div class="top-background"></div>
	<div class="content">
	<div class="top-insert-outline">
	  <div class="top-insert">
	    <h1>Our Story</h1>
	  </div>
	</div>
	<div class="portfolio-text-insert">		
	  <h2>DFM</h2>
	  <div></div>
	</div>
  	<!--<div id="capabilities">
      <h1>Capabilities</h1>
      <ul>
        <li>
          <h2>Brand Strategy</h2>
          <p>Naming / Tagline / Mission / Brand Story</p>
          <p>Logo / Brand Mark / Style Guides</p>
        </li>
        <li>
          <h2>Graphics &amp; Imagery</h2>
          <p>Packaging / Signage / Business Cards</p>
          <p>Stationery / Catalogs / Presentation Materials</p>
          <p>Product Photography / Lifestyle Imagery</p>
          <p>Illustration</p>
        </li>
        <li>
          <h2>Website</h2>
          <p>Mobile and Emerging Platforms / System</p>
          <p>Integration / Omni Channel Strategy</p>
          <p>Implementation</p>
        </li>
        <li>
          <h2>Retail</h2>
          <p>Display Design / Trade Show Design</p>
          <p>Kiosk Design / Windows / Point of Purchase</p>
          <p>Styling / Manufacturing Management</p>
        </li>
      </ul>
    </div>-->
    <div class="middle-container">
      <div class="top-drops scroll-slow"></div>
      <div id="mentioned">
        <div class="scroll-slow" id="recentlyfeatured">RECENTLY FEATURED IN</div>
        <div class="scroll-slow" id="refinery29"></div>
        <div class="scroll-slow" id="designsponge"></div>
      </div>
      <div class="middle-insert">
        Drawing from memory is an advanced artistic skill that only comes with practice and vision. It involves imagining an idea and bringing it to life without a reference point.<br><br>This is what we do everyday.
      </div>
      <div class="fancy-text scroll-slow"></div>
      <div class="lower-drops"></div>
      <div class="lower-insert">
        <%= image_tag "page_fashion/rings.jpg", :id => "rings", :class => "scroll-medium" %>
        <ul>
          <li>
            <p>Jen is a born storyteller and originally chose photography as her means of narration. She believes that an image - like a brand - can't just exist on a wall. It needs to communicate an idea to connect and inspire the viewer. It needs to tell a story.</p>
          </li>
        </ul>
        <%= image_tag "page_fashion/rings.jpg", :id => "rings", :class => "scroll-medium" %>
        <%= image_tag "page_fashion/rings.jpg", :id => "rings", :class => "scroll-medium" %>
        <%= image_tag "page_fashion/rings.jpg", :id => "rings", :class => "scroll-medium" %>
        <ul>
          <li>
            <p>Sharon is a natural problem solver driven by curiosity and dedicated to perfecting the details. As an industrial designer (Sharon received her MFA in Industrial Design at The Art Institute of Chicago) she is inspired by technology, manufacturing techniques, and materials. Her craft is understanding the inner workings of things in order to push the boundaries of what is possible.</p>

            <p>Together, they build innovative brands that communicate an authentic story with a strong individual personality to an educated, aspirational, female audience. Rooted in fine art, their work grows from a single concept into a blossom of ideas that interconnect through imagery, mood, tone, and story. They are dreamers, thinkers, and doers that shepherd sparks of imagination on the path to greatness. They offer visionary brand leadership that is informed, pure, and passionate.</p>
          </li>
        </ul>
        <%= image_tag "page_about/designprinciples.png", :id => "designprinciples", :class => "scroll-medium" %>
        <%= image_tag "page_about/simplicity.png", :id => "simplicity", :class => "scroll-medium" %>
        <%= image_tag "page_about/design.png", :id => "design", :class => "scroll-medium" %>
        <%= image_tag "page_about/elegance.png", :id => "elegance", :class => "scroll-medium" %>
      </div>      
    </div>
    <%= partial "layouts/work_with_us" %>
  </div>
</div>