<div id="main">
	<div class="top-background"></div>
	<div class="content">
  	<div class="top-insert-outline">
  	  <div class="top-insert">
  	    <h1>Our Story</h1>
  	  </div>
  	</div>
    <div class="middle-content">

      <div id="row1" class="row">
        <div class="block1 block-half">
          <%= image_tag "page_about/DFM_about_DFMmarker.jpg", :id => "dfm-stamp", :class => "scroll-medium" %>
        </div>
        <div class="block2 block-half" id="black-drip">
          Drawing from memory is an advanced artistic skill that only comes with practice and vision. It involves imagining an idea and bringing it to life without a reference point.<br><br>This is what we do everyday.
        </div>
      </div>

      <div id="row2" class="row">
        <div class="block1 block-half">
        <%= image_tag "page_about/DFM_about_moodboard.jpg", :id => "moodboard", :class => "scroll-medium" %>
        </div>
        <div class="block2 block-half">
          <p>Founders Jen and Sharon formed a life-long bond while studying fine art at the Rhode Island School of Design (RISD). There they learned a design language that brides concept with craft, and resulted in a set of skilled hands, sharp eyes and a growing appreciation for simple elegance.</p>

          <p>In 2008 Sharon and Jen formed Drawing From Memory, a multidisciplinary design studio that brings fine art values to corporate branding practices. Over the last 8 years DFM has grown to include offices in the fashion, beauty, and luxury lifestyle markets.</p>
        </div>
      </div>

      <div id="row3" class="row">
        <div class="block1 block-half">
          <div class="text">
            <h3>Jen White</h3>
            <p>Jen is a born storyteller and originally chose photography as her means of narration. She believes that an image - like a brand - can't just exist on a wall. It needs to communicate an idea to connect and inspire the viewer. It needs to tell a story.</p>
            <%= image_tag "page_about/DFM_about_quote.jpg", :id => "quote", :class => "scroll-medium" %>
          </div>
        </div>
        <div class="block2 block-half">
          <%= image_tag "page_about/DFM_about_jen.jpg", :id => "jen", :class => "scroll-medium" %>
        </div>
      </div>

      <div id="row4" class="row">
        <div class="block1 block-half">
        <%= image_tag "page_about/DFM_about_sharon.jpg", :id => "sharon", :class => "scroll-medium" %>
        </div>
        <div class="block2 block-half">
          <h3>Sharon Noh</h3>
          <p>Sharon is a natural problem solver driven by curiosity and dedicated to perfecting the details. As an industrial designer (Sharon received her MFA in Industrial Design at The Art Institute of Chicago) she is inspired by technology, manufacturing techniques, and materials. Her craft is understanding the inner workings of things in order to push the boundaries of what is possible.</p>
        </div>
      </div>
      
      <div id="row5" class="row">
        <div class="block-full">
          <p>Together, and with their team, they build innovative brands that communicate
            an authentic story with a strong individual personality to an educated, aspirational, female audience. Rooted in fine art, their work grows from a single concept into a blossom of ideas that interconnect through imagery, mood, tone, and story. They are dreamers, thinkers, and doers that shepherd sparks of imagination on the path to greatness. They offer visionary brand leadership that is informed, pure, and passionate.</p>
            
        </div>
        <%= image_tag "page_about/DFM_about_splatter.jpg", :id => "splatter", :class => "scroll-medium" %>
      </div>
      <%= image_tag "page_about/DFM_about_principles.jpg", :id => "principles", :class => "scroll-medium" %>
      
    </div>
    <div class="middle-container">rahrharharhahrehhr</div>
    <%= partial "layouts/work_with_us" %>
  </div>
</div>