<div id="main">
  <div class="top-background"></div>
  <div class="content">
    <div class="top-insert-outline">
      <div class="top-insert">
        <h1>Beauty</h1>
      </div>
    </div>
    <div class="portfolio-text-insert colourpop-text">
      <p>Designing cosmetic brands, fragrance lines, and skincare packaging is second nature to us. Collectively we have used and critiqued almost every product on the market. We know what looks good on a store shelf and also in a girls bathroom. Thus our approach to packaging and retail design is informed and comprehensive. Our turn-key product development services, custom packaging, and project management will ensure your idea makes it ot the sheves and gets noticed.</p>
      <div></div>
      <h2>colour pop</h2>
      <p class="tagline">Brand Identity &#47; Brand Story &#47; Collateral &#47; Packaging Design &#47; E-commerce</p>
    </div>
    <div class="image-container-colourpop">      
      <%= image_tag "page_beauty/colourpop-branding-design-1.png", :id => "coming-soon", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/colourpop-branding-design-2.png", :id => "tiedye", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/colourpop-webdesign-1.png", :id => "colourpop_imac", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/colourpop-packaging-design.png", :id => "boxes", :class => "scroll-medium" %>
      
      <%= image_tag "page_beauty/colourpop-retail-design.png", :id => "markers", :class => "scroll-medium" %>
    </div>
    <div class="portfolio-text-insert">
      <h2>spatz labs</h2>
      <p class="tagline">Brand Identity &#47; Brand Story &#47; Packaging Design &#47; Website Design &#47; Tradeshow Design &#47; Display Design</p>
    </div>
    <div class="image-container-spatz">
      <%= image_tag "page_beauty/beauty-retail-design-1.png", :id => "spatz1", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/packaging-design-1.png", :id => "eyeshadow", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/packaging-design-2.png", :id => "makeup", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/trulyyours/tyface.jpg", :id => "onsen", :class => "scroll-medium" %>
    </div>
    <div class="portfolio-text-insert">
      <h2>truly yours</h2>
      <p class="tagline">Brand Identity &#47; Brand Story &#47; Collateral &#47; Packaging Design &#47; E-commerce &#47; Social Media</p>
    </div>

    <div class="image-container-trulyyours">
      <%= image_tag "page_beauty/trulyyours/packaging-design-ty1.jpg", :id => "trulyyours1", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/trulyyours/beauty-photography-identity-1.jpg", :id => "trulyyours2", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/trulyyours/BEAUTY_trulyyours_3.jpg", :id => "trulyyours3", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/trulyyours/beauty-photography-identity-2.jpg", :id => "trulyyours4", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/trulyyours/BEAUTY_trulyyours_5.jpg", :id => "trulyyours5", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/trulyyours/beauty-photography-identity-3.jpg", :id => "trulyyours6", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/trulyyours/beauty-photography-identity-4.jpg", :id => "trulyyours7", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/trulyyours/BEAUTY_trulyyours_8.jpg", :id => "trulyyours8", :class => "scroll-medium" %>      
    </div>

    <div class="portfolio-text-insert">
      <h2>skin laundry</h2>
      <p class="tagline">Brand Story &#47; Photography &#47; Website Design &#47; Website Content</p>
    </div>
    <div class="image-container-skinlaundry">
      <%= image_tag "page_beauty/skincare-retail-packaging-1.png", :id => "skinlaundry1", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/skincare-retail-packaging-2.png", :id => "skinlaundry2", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/skincare-retail-design-1.png", :id => "skinlaundry3", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/skincare-website-design-1.png", :id => "skinlaundry-imac", :class => "scroll-medium" %>
    </div>
    <div class="portfolio-text-insert skincare-text">
      <h2>b skincare</h2>
      <p class="tagline">Brand Identity &#47; Brand Story &#47; Naming &#47; Package Design &#47; Retail Design</p>
    </div>
    <div class="image-container-bskincare">
      <%= image_tag "page_beauty/retail-packaging-design-1.png", :id => "foursquare", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/branding-retail-design-1.png", :id => "bbox", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/brand-identity-design-1.png", :id => "bags", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/product-design-1.png", :id => "b-candle", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/retail-design-1.png", :id => "store", :class => "scroll-medium" %>
    </div>
    <%= partial "layouts/work_with_us" %>
  </div>
</div>