<div id="main">
  <div class="top-background"></div>
  <div class="content">
    <div class="top-insert-outline">
      <div class="top-insert">
        <h1>Beauty</h1>
        <h2><em>The Industry</em></h2>
      </div>
    </div>
    <div class="portfolio-text-insert">
      <p>Designing cosmetic brands, fragrance lines, and skin care packaging is second nature to us. Collectively we have used and critiqued almost every product on the market. We know what looks good on a store shelf and also in a girls bathroom. We have the same conversations she has with friends and drink the same wine at book club. She is us, we are her, and we know what she wants is just simply beautiful.</p>
      <div></div>
      <h2>colour pop</h2>
      <p><em>Brand Identity &#47; Brand Story &#47; Collateral &#47; Packaging Design &#47; E-commerce</em></p>
    </div>
    <div class="image-container-colourpop">      
      <%= image_tag "page_beauty/beauty-colorpop.png", :id => "coming-soon", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/beauty_colorpop2.png", :id => "tiedye", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/beauty_colorpop3.png", :id => "colourpop_imac", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/beauty_colorpop4.png", :id => "boxes", :class => "scroll-medium" %>
      
      <%= image_tag "page_beauty/beauty_colorpop5.png", :id => "markers", :class => "scroll-medium" %>
    </div>
    <div class="portfolio-text-insert">
      <h2>spatz labs</h2>
      <p><em>Brand Identity &#47; Brand Story &#47; Packaging Design &#47; Website Design &#47; Tradeshow Design &#47; Display Design</em></p>
    </div>
    <div class="image-container-spatz">
      <%= image_tag "page_beauty/beauty_spatz2-1.png", :id => "spatz1", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/beauty_spatz3-1.png", :id => "eyeshadow", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/spatz-packaging-CMYK.png", :id => "makeup", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/FINAL-2(lighter).png", :id => "onsen", :class => "scroll-medium" %>
    </div>
    <div class="portfolio-text-insert">
      <h2>onsen</h2>
      <p><em>Brand Identity &#47; Brand Story &#47; Naming &#47; Website Design</em></p>
    </div>
    <div class="image-container-onsen">
      <%= image_tag "page_beauty/beauty-onsen.png", :id => "diving", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/onsen_products.png", :id => "onsen-products", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/brochure-ad.png", :id => "brochure", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/beauty_onsen5.png", :id => "onsen-imac", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/Onsen-businesscard_retouched.png", :id => "cards", :class => "scroll-medium" %>
      
    </div>
    <div class="portfolio-text-insert">
      <h2>skin laundry</h2>
      <p><em>Brand Story &#47; Photography &#47; Website Design &#47; Website Content</em></p>
    </div>
    <div class="image-container-skinlaundry">
      <%= image_tag "page_beauty/beauty-skinlaundry.png", :id => "skinlaundry1", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/beauty-skinlaundry2.png", :id => "skinlaundry2", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/beauty_skinlaundry3.png", :id => "skinlaundry3", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/beauty_skinlaundry4.png", :id => "skinlaundry-imac", :class => "scroll-medium" %>
    </div>
    <div class="portfolio-text-insert">
      <h2>b skincare</h2>
      <p><em>Brand Identity &#47; Brand Story &#47; Naming &#47; Package Design &#47; Retail Design</em></p>
    </div>
    <div class="image-container-bskincare">
      <%= image_tag "page_beauty/beauty-bskincare.png", :id => "foursquare", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/shichiboxB.png", :id => "bbox", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/beauty_bskincare2.png", :id => "bags", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/B_candle.png", :id => "b-candle", :class => "scroll-medium" %>
      <%= image_tag "page_beauty/beauty_bskincare5.png", :id => "store", :class => "scroll-medium" %>
    </div>
    <%= partial "layouts/work_with_us" %>
  </div>
</div>