<div id="main">
  <div class="top-background"></div>
  <div class="content">
    <div class="top-insert-outline">
      <div class="top-insert">
        <h1>Capability</h1>
        <h2><em>Strategy &nbsp; Creative &nbsp; Interactive &nbsp; Environment</em></h2>
      </div>
    </div>
    <div class="portfolio-text-insert">
      <h2>Brand Strategy</h2>
      <p><em>Naming &#47; Tagline &#47; Mission &#47; Brand Story &#47; Logo &#47; Brand Mark &#47; Style Guides</em></p>
      <div></div>
      <p style="margin-top:45px;">Every brand is a story. The best ones connect with the audience emotionally, physically, and ultimately become a part of their lives. <br>From the brand story, the identity is built. Identity design is the heart and soul of our studio, and it all starts with a mark.</p>
      <div></div>
    </div>
    <div class="heading-section" id="brand-exploration"><h1 class="scroll-slow-left">Brand Story</h1><h1 class="scroll-slow-left">Exploration</h1></div>
    <div class="heading-section" id="logo-mark">
        <h1 class="scroll-slow-right">Logo mark</h1>
        <h1 class="scroll-slow-right">Logo type</h1>
    </div>
        
    <div class="image-container-brandstrategy">
      <%= image_tag "page_capability/dfm-brand-infographic.png", :id => "infographic", :class => "scroll-medium" %>

      <%= image_tag "page_capability/dfm-brand-logo-explore.jpg", :id => "photo1", :class => "scroll-medium" %>
      <%= image_tag "page_capability/dfm-strategy-design.jpg", :id => "photo2", :class => "scroll-fast" %>
      <%= image_tag "page_capability/dfm-brand-design.jpg", :id => "photo3", :class => "scroll-medium" %>
      <%= image_tag "page_capability/dfm-brand-strategy.jpg", :id => "photo4", :class => "scroll-slow" %>

    </div>

    <div class="portfolio-text-insert">
      <h2>luterra food group</h2>
      <p><em>Brand Identity &#47; Brand Story &#47; Naming &#47; Product Design &#47; Package Design &#47; Retail Design</em></p>
    </div>
    <div class="image-container-luterra">
      <%= image_tag "page_lifestyle/logo.png", :id => "logo", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/luterra2.png", :id => "luterra2", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/luterra3.png", :id => "luterra3", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/luterra-letterhead-CMYK.jpg", :id => "luterra-letterhead", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/luterra4.png", :id => "luterra4", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/nature.png", :id => "nature", :class => "scroll-medium" %>
    </div>
    <div class="portfolio-text-insert">
      <h2>the chic</h2>
      <p><em>Brand Identity &#47; Brand Story &#47; Naming &#47; Product Design &#47; Package Design &#47; Retail Design</em></p>
    </div>
    <div class="image-container-thechic">
      <%= image_tag "page_lifestyle/chic_party_rachel_photo.png", :id => "right-party", :class => "scroll-slow" %>
      <%= image_tag "page_lifestyle/chic_socialmedia_logo.png", :id => "logo", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/chic_business_cards_graphic.png", :id => "left-bc-1", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/chic_business_cards_design.png", :id => "left-bc-2", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/chic_category_icons.png", :id => "icons", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/CHIC.png", :id => "chic-imac", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/chic_category_design_blocks.png", :id => "blocks", :class => "scroll-medium" %>
      
    </div>
    <div class="portfolio-text-insert">
      <h2>Tanya McQueen</h2>
      <p><em>Brand Identity &#47; Brand Story &#47; Collateral &#47; Packaging Design &#47; Photography &#47; Blog Website</em></p>
    </div>
    <div class="image-container-tanya">
      <%= image_tag "page_lifestyle/TMQ-photography.jpg", :id => "photo1", :class => "scroll-fast" %>
      <%= image_tag "page_lifestyle/TMQ-photo-humor.jpg", :id => "photo2", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/TMQ-lifestyle.png", :id => "photo3", :class => "scroll-slow" %>
      <%= image_tag "page_lifestyle/TMQ-business-card-design.png", :id => "bcard", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/Tanya-Branding-collateral.jpg", :id => "collateral", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/portrait-combine.png", :id => "portrait", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/Selvarey_booth2.jpg", :id => "selvarey-banner", :class => "scroll-medium" %>
    </div>
    <div class="portfolio-text-insert">
      <h2>selvarey</h2>
      <p><em>Brand Identity &#47; Brand Story &#47; Collateral &#47; Packaging Design &#47; Photography &#47; E-commerce</em></p>
    </div>
    <div class="image-container-selvarey">
      <%= image_tag "page_lifestyle/selvarey-web-design-imac.jpg", :id => "selvarey-imac", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/bottle.jpg", :id => "bottle", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/selvarey_t.png", :id => "shirt", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/SV_coaster.jpg", :id => "coaster", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/SV_napkin.jpg", :id => "napkin", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/gorilla.png", :id => "gorilla", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/Selvarey-iPhone-Mock.jpg", :id => "selvarey-phones", :class => "scroll-medium" %>
    </div>
    <div class="portfolio-text-insert">
      <h2>Challen Pinot Noir</h2>
      <p><em>Brand Story &#47; Name &#47; Hand Lettering &#47; Logo &#47; Brand Mark &#47; Packaging Design</em></p>
    </div>
    <div class="image-container-challen">
      <%= image_tag "page_lifestyle/challen-logo-package-design.png", :id => "bottles", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/challen-brand-identity.png", :id => "quote", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/challen-logo-inspire.jpg", :id => "left-inspire", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/challen-design-inspire.jpg", :id => "right-inspire", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/CPN_Seal_v02.png", :id => "stamp", :class => "scroll-medium" %>
    </div>
    <%= partial "layouts/work_with_us" %>
  </div>
</div>