<div id="main">
  <div class="top-background"></div>
  <div class="content">
    <div class="top-insert-outline">
      <div class="top-insert">
        <h1>Capabilities</h1>
        <h2><em>Strategy &nbsp; Creative &nbsp; Interactive &nbsp; Environment</em></h2>
      </div>
    </div>
    <div class="portfolio-text-insert">
      <h2>Brand Strategy</h2>
      <p>Naming &#47; Tagline &#47; Mission &#47; Brand Story &#47; Logo &#47; Brand Mark &#47; Style Guides</p>
      <div></div>
      <p id="details">Every brand is a story. The best ones connect with the audience emotionally, physically, and ultimately become a part of their lives. <br>From the brand story, the identity is built. Identity design is the heart and soul of our studio, and it all starts with a mark.</p>
      <div></div>
    </div>
    <div class="heading-section" id="brand-exploration"><h1 class="scroll-slow-left">Brand Story</h1><h1 class="scroll-slow-left">Exploration</h1></div>
    <div class="heading-section" id="logo-mark">
        <h1 class="scroll-slow-right">Logo mark</h1>
        <h1 class="scroll-slow-right">Logo type</h1>
    </div>
        
    <div class="image-container-brandstrategy">
      <%= image_tag "page_capability/dfm-brand-infographic.jpg", :id => "infographic", :class => "scroll-medium" %>

      <%= image_tag "page_capability/dfm-brand-logo-explore.jpg", :id => "photo1", :class => "scroll-medium" %>
      <%= image_tag "page_capability/dfm-strategy-design.jpg", :id => "photo2", :class => "scroll-fast" %>
      <%= image_tag "page_capability/dfm-brand-design.jpg", :id => "photo3", :class => "scroll-medium" %>
      <%= image_tag "page_capability/dfm-brand-strategy.jpg", :id => "photo4", :class => "scroll-slow" %>

    </div>

    <div class="portfolio-text-insert">
      <h2>Graphics</h2>
      <p>Packaging &#47; Signage &#47; Business Cards &#47; Stationary &#47; Catalogs &#47; Presentations</p>
      <div></div>
      <p id="details">We may be inclined to purchase a product, but great packaging and presentation seal the deal. In addition to designing compelling materials, DFM produces resulting designs and facilitates importing and delivery. Turned edge boxes, branded product, custom molded containers, neon signs? These are the challenges that we live for. </p>
      <div></div>
    </div>
    <div class="heading-section" id="graphics">
    <h1 class="scroll-slow-left">Concept</h1>
    <h1 class="scroll-slow-left">Mock-ups</h1>
    <h1 class="scroll-slow-left">Renderings</h1>
    <h1 class="scroll-slow-left">Retail Materials</h1>
    </div>
    <div class="image-container-graphics">
      <%= image_tag "page_capability/dfm-package-design.png", :id => "avf", :class => "scroll-medium" %>
      <%= image_tag "page_capability/dfm-packaging-design.png", :id => "colourpop", :class => "scroll-medium" %>
      <%= image_tag "page_capability/dfm-packaging-hangtag.jpg", :id => "bgh", :class => "scroll-medium" %>
      <%= image_tag "page_capability/dfm-package-bottles.jpg", :id => "selvarey", :class => "scroll-slow" %>
      <%= image_tag "page_capability/dfm-graphic-design.jpg", :id => "tmqth", :class => "scroll-medium" %>
      <%= image_tag "page_capability/dfm-graphic-collateral.jpg", :id => "color", :class => "scroll-slow" %>
    </div>
    <div class="portfolio-text-insert">
      <h2>Imagery</h2>
      <p>Product Photography &#47; Lifestyle Imagery &#47; Illustration</p>
    <div></div>
      <p id="details">Images are the window to the brand. They excite, drive, and compel an audience to act, connect, and remember. We think in images and create them in our sleep. Here are some of our best. </p>
      <div></div>
    </div>
    <div class="heading-section" id="imagery">
    <h1 class="scroll-slow-right">In Studio</h1>
    <h1 class="scroll-slow-right">On location</h1>
    <h1 class="scroll-slow-right">Lifestyle</h1>
    </div>
    <div class="image-container-imagery">
      <%= image_tag "page_capability/dfm-jewelry-01.jpg", :id => "img1", :class => "scroll-slow" %>
      <%= image_tag "page_capability/dfm-jewelry-02.jpg", :id => "img2", :class => "scroll-fast" %>
      <%= image_tag "page_capability/dfm-jewelry-03.jpg", :id => "img3", :class => "scroll-medium" %>
      <%= image_tag "page_capability/dfm-jewelry-04.jpg", :id => "img4", :class => "scroll-slow" %>
      <%= image_tag "page_capability/dfm-jewelry-05.jpg", :id => "img5", :class => "scroll-medium" %>
      <%= image_tag "page_capability/dfm-jewelry-06.jpg", :id => "img6", :class => "scroll-fast" %>
      <%= image_tag "page_capability/dfm-jewelry-07.jpg", :id => "img7", :class => "scroll-medium" %>
      <%= image_tag "page_capability/dfm-jewelry-08.jpg", :id => "img8", :class => "scroll-slow" %>
      <%= image_tag "page_capability/dfm-jewelry-09.jpg", :id => "img9", :class => "scroll-fast" %>
      <%= image_tag "page_capability/dfm-jewelry-10.jpg", :id => "img10", :class => "scroll-medium" %>
      <%= image_tag "page_capability/dfm-fashion-photography.jpg", :id => "left-model", :class => "scroll-fast" %>
      <%= image_tag "page_capability/dfm-model-photography.jpg", :id => "mid-model", :class => "scroll-medium" %>
      <%= image_tag "page_capability/dfm-jewelry-imagery.jpg", :id => "jewel1", :class => "scroll-slow" %>
      <%= image_tag "page_capability/dfm-fashion-imagery.jpg", :id => "jewel2", :class => "scroll-fast" %>
      <%= image_tag "page_capability/dfm-product-photography.jpg", :id => "avf1", :class => "scroll-medium" %>
      <%= image_tag "page_capability/dfm-ecommerce-product.jpg", :id => "avf2", :class => "scroll-medium" %>
      
    </div>
    <div class="portfolio-text-insert">
      <h2>Interactive</h2>
      <p>Web Design &#47; Mobile and Emerging Platforms &#47; System Integration &#47; Web Development &#47; Omni Channel Strategy and Integration</p>
    <div></div>
      <p id="details">Modern web design is a complex composition of business strategy, marketing, and system integration, cloaked in imagery that communicates to a specific audience. DFM brings approachable creative vision to the process an provides insight, direction, and experience to the entrepreneur and executive team.</p>
      <div></div>
    </div>
    <div class="heading-section" id="interactive">
    <h1 class="scroll-slow-right">UI/UX</h1>
    <h1 class="scroll-slow-right">E-Commerce</h1>
    <h1 class="scroll-slow-right">Contents</h1>
    </div>
    <div class="heading-section" id="responsive">
    <h1 class="scroll-slow-left">Responsive Design</h1>
    <h1 class="scroll-slow-left">Web Development</h1>
    <h1 class="scroll-slow-left">Management</h1>
    </div>
    <div class="image-container-interactive">
      <%= image_tag "page_lifestyle/CHIC.png", :id => "display", :class => "scroll-fast" %>
      <%= image_tag "page_capability/dfm-interactive-blocks.jpg", :id => "chic-blocks", :class => "scroll-medium" %>
      <%= image_tag "page_capability/dfm-interactive-campaign.jpg", :id => "chic-daily", :class => "scroll-slow" %>
      <%= image_tag "page_capability/dfm-interactive-socialmedia.jpg", :id => "chic-flags", :class => "scroll-medium" %>
      <%= image_tag "page_capability/dfm-interactive-navigation.jpg", :id => "chic-links", :class => "scroll-medium" %>
      <%= image_tag "page_capability/dfm-interactive-styleguide.jpg", :id => "style", :class => "scroll-medium" %>
    </div>
    <div class="portfolio-text-insert">
      <h2>Retail</h2>
      <p>Display Design &#47; Trade Show Design &#47; Liosk Design &#47; Windows &#47; Point of Purchase &#47; Styling &#47; Manufacturing Management</p>
    <div></div>
      <p id="details">DFM applies the same design process to environmental space. From concept look and feel, to customer experience and flow, to materials, to construction and logistics, DFM continues the brand story into physical form. </p>
      <div></div>
    </div>
    <div class="heading-section" id="retail">
    <h1 class="scroll-slow-left">Concept Design</h1>
    <h1 class="scroll-slow-left">Planning</h1>
    <h1 class="scroll-slow-left">Renderings</h1>
    <h1 class="scroll-slow-left">Production</h1>
    </div>
    <div class="image-container-retail">
      <%= image_tag "page_capability/dfm-retail-inspiration.jpg", :id => "inspire", :class => "scroll-medium" %>
      <%= image_tag "page_capability/dfm-retail-kiosk.jpg", :id => "onsen1", :class => "scroll-slow" %>
      <%= image_tag "page_capability/dfm-retail-store.jpg", :id => "onsen2", :class => "scroll-medium" %>
      <%= image_tag "page_capability/dfm-retail-display.jpg", :id => "spatz", :class => "scroll-fast" %>
      <%= image_tag "page_capability/dfm-retail-design.jpg", :id => "bi", :class => "scroll-slow" %>
    </div>
    <%= partial "layouts/work_with_us" %>
  </div>
</div>