<div id="main">
  <div class="top-background"></div>
  <div class="content">
    <div class="top-insert-outline">
      <div class="top-insert">
        <h1>Entertainment</h1>
        <h3>The Industry</h3>
      </div>
    </div>
    <div class="portfolio-text-insert whatsupmoms-text">
      <p>We’re in the heart of Los Angeles, California. The fountainhead of entertainment. When you want to be seen, there’s no place you’d rather be. We work with some of today’s coolest creatives in the digital space. They come to us with a vision and we do the rest. Check out some of our recent work below.</p>
      <div></div>
      <h2>what's up moms</h2>
      <p class="tagline">Brand Identity &#47; Website Design</p>
    </div>
    <div class="image-container-whatsupmoms">      
      <%= image_tag "page_entertainment/wum-website-design-1.jpg", :alt => "wum-website-design-1", :id => "wums1", :class => "scroll-medium" %>
      <%= image_tag "page_entertainment/wum-website-design-2.jpg", :alt => "wum-website-design-2", :id => "wums2", :class => "scroll-medium" %>
      <%= image_tag "page_entertainment/wum-website-design-3.jpg", :alt => "wum-website-design-3", :id => "wums3", :class => "scroll-medium" %>
      <%= image_tag "page_entertainment/wum-website-design-4.jpg", :alt => "wum-website-design-4", :id => "wums4", :class => "scroll-medium" %>
      
      <%= image_tag "page_entertainment/wum-website-design-mobile.jpg", :alt => "wum-website-design-mobile", :id => "wums5", :class => "scroll-medium" %>
    </div>

    <div class="portfolio-text-insert">
      <h2>the chic</h2>
      <p class="tagline">Brand Identity &#47; Collateral &#47; Blog Design</p>
    </div>
    <div class="image-container-thechic">
      <%= image_tag "page_lifestyle/Chic-identity-photography-1.png", :alt => "Chic-identity-photography-1", :id => "right-party", :class => "scroll-slow" %>
      <%= image_tag "page_lifestyle/Chic-website-design-4.png", :alt => "Chic-website-design-4", :id => "logo", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/chic-identity-design-1.png", :alt => "chic-identity-design-1", :id => "left-bc-1", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/chic-identity-design-2.png", :alt => "chic-identity-design-2", :id => "left-bc-2", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/Chic-website-design-3.png", :alt => "Chic-website-design-3", :id => "icons", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/Chic-website-design.png", :alt => "Chic-website-design", :id => "chic-imac", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/Chic-website-design-2.png", :alt => "Chic-website-design-2", :id => "blocks", :class => "scroll-medium" %>
      <%= image_tag "page_entertainment/mcqueen-identity-illustration.jpg", :alt => "mcqueen-identity-illustration", :id => "portraitbig", :class => "scroll-medium" %>
      
    </div>
    <div class="portfolio-text-insert">
      <h2>Tanya McQueen</h2>
      <p class="tagline">Brand Identity &#47; Brand Story &#47; Collateral &#47; Packaging Design &#47; Photography &#47; E-commerce</p>
    </div>
    <div class="image-container-tanya">
      <%= image_tag "page_lifestyle/mcqueen-identity-photography-5.jpg", :alt => "mcqueen-identity-photography-5", :id => "photo1", :class => "scroll-fast" %>
      <%= image_tag "page_lifestyle/mcqueen-identity-photography-4.jpg", :alt => "mcqueen-identity-photography-4", :id => "photo2", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/mcqueen-identity-photography-3.png", :alt => "TMQ-lifestyle", :id => "photo3", :class => "scroll-slow" %>
      <%= image_tag "page_lifestyle/mcqueen-identity-design-3.png", :alt => "mcqueen-identity-design-3", :id => "bcard", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/mcqueen-identity-design-4.jpg", :alt => "mcqueen-identity-design-4", :id => "collateral", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/mcqueen-identity-photography-6.png", :alt => "mcqueen-identity-photography-6", :id => "portrait", :class => "scroll-medium" %>
    </div>

<!--     <div class="portfolio-text-insert">
      <h2>What if we</h2>
      <p class="tagline">Brand Identity &#47; Brand Story &#47; Collateral &#47; Packaging Design &#47; Photography &#47; E-commerce</p>
    </div>
    <div class="image-container-whatifwe">
      <%= image_tag "page_entertainment/wiw-website-design-1.jpg", :alt => "wiw-website-design-1", :id => "whatifwe1", :class => "scroll-fast" %>
      <%= image_tag "page_entertainment/wiw-logo-design.jpg", :alt => "wiw-logo-design", :id => "whatifwe2", :class => "scroll-medium" %>
      <%= image_tag "page_entertainment/wiw-interactive-identity-1.jpg", :alt => "wiw-interactive-identity-1", :id => "whatifwe3", :class => "scroll-slow" %>
      <%= image_tag "page_entertainment/wiw-interactive-identity-2.jpg", :alt => "wiw-interactive-identity-2", :id => "whatifwe4", :class => "scroll-medium" %>
      <%= image_tag "page_entertainment/wiw-identity-illustration-1.jpg", :alt => "wiw-identity-illustration-1", :id => "whatifwe5", :class => "scroll-medium" %>
      <%= image_tag "page_entertainment/wiw-identity-illustration-2.jpg", :alt => "wiw-identity-illustration-2", :id => "whatifwe6", :class => "scroll-medium" %>
      <%= image_tag "page_entertainment/wiw-website-design-mobile.jpg", :alt => "wiw-website-design-mobile", :id => "whatifwe7", :class => "scroll-medium" %>
    </div> -->

    <%= partial "layouts/work_with_us" %>
  </div>
</div>