<div id="main">
  <div class="top-background"></div>
  <div class="content">
    <div class="top-insert-outline">
      <div class="top-insert">
        <h1>Entertainment</h1>
        <h3>The Industry</h3>
      </div>
    </div>
    <div class="portfolio-text-insert whatsupmoms-text">
      <p>Entertainment. We love it. You love it. So stop fighting. Sit down. Netflix. Hulu. Amazon Prime. Look at all these choices. A world of choice. Now get up. Get your wallet, your credit card. Fork it over. Now sit down. Hit play. Binge watch: the new American dream. What's next? Season 3? Season 4? It's up to you. Just one more episode. You only get one chance at life. So make the right choice.</p>
      <div></div>
      <h2>what's up moms</h2>
      <p class="tagline">Brand Identity &#47; Brand Story &#47; Naming &#47; Product Design &#47; Package Design &#47; Retail Design</p>
    </div>
    <div class="image-container-whatsupmoms">      
      <%= image_tag "page_entertainment/wum-website-design-1.jpg", :id => "wums1", :class => "scroll-medium" %>
      <%= image_tag "page_entertainment/wum-website-design-2.jpg", :id => "wums2", :class => "scroll-medium" %>
      <%= image_tag "page_entertainment/wum-website-design-3.jpg", :id => "wums3", :class => "scroll-medium" %>
      <%= image_tag "page_entertainment/wum-website-design-4.jpg", :id => "wums4", :class => "scroll-medium" %>
      
      <%= image_tag "page_entertainment/wum-website-design-mobile.jpg", :id => "wums5", :class => "scroll-medium" %>
    </div>

    <div class="portfolio-text-insert">
      <h2>the chic</h2>
      <p class="tagline">Brand Identity &#47; Collateral &#47; Blog Design</p>
    </div>
    <div class="image-container-thechic">
      <%= image_tag "page_lifestyle/chic_party_rachel_photo.png", :id => "right-party", :class => "scroll-slow" %>
      <%= image_tag "page_lifestyle/chic_socialmedia_logo.png", :id => "logo", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/chic_business_cards_graphic.png", :id => "left-bc-1", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/chic_business_cards_design.png", :id => "left-bc-2", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/chic_category_icons.png", :id => "icons", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/CHIC.png", :id => "chic-imac", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/chic_category_design_blocks.png", :id => "blocks", :class => "scroll-medium" %>
      <%= image_tag "page_entertainment/mcqueen-identity-illustration.jpg", :id => "portraitbig", :class => "scroll-medium" %>
      
    </div>
    <div class="portfolio-text-insert">
      <h2>Tanya McQueen</h2>
      <p class="tagline">Brand Identity &#47; Brand Story &#47; Collateral &#47; Packaging Design &#47; Photography &#47; E-commerce</p>
    </div>
    <div class="image-container-tanya">
      <%= image_tag "page_lifestyle/TMQ-photography.jpg", :id => "photo1", :class => "scroll-fast" %>
      <%= image_tag "page_lifestyle/TMQ-photo-humor.jpg", :id => "photo2", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/TMQ-lifestyle.png", :id => "photo3", :class => "scroll-slow" %>
      <%= image_tag "page_lifestyle/TMQ-business-card-design.png", :id => "bcard", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/Tanya-Branding-collateral.jpg", :id => "collateral", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/portrait-combine.png", :id => "portrait", :class => "scroll-medium" %>
    </div>

    <div class="portfolio-text-insert">
      <h2>What if we</h2>
      <p class="tagline">Brand Identity &#47; Brand Story &#47; Collateral &#47; Packaging Design &#47; Photography &#47; E-commerce</p>
    </div>
    <div class="image-container-whatifwe">
      <%= image_tag "page_entertainment/wiw-website-design-1.jpg", :id => "whatifwe1", :class => "scroll-fast" %>
      <%= image_tag "page_entertainment/wiw-logo-design.jpg", :id => "whatifwe2", :class => "scroll-medium" %>
      <%= image_tag "page_entertainment/wiw-interactive-identity-1.jpg", :id => "whatifwe3", :class => "scroll-slow" %>
      <%= image_tag "page_entertainment/wiw-interactive-identity-2.jpg", :id => "whatifwe4", :class => "scroll-medium" %>
      <%= image_tag "page_entertainment/wiw-identity-illustration-1.jpg", :id => "whatifwe5", :class => "scroll-medium" %>
      <%= image_tag "page_entertainment/wiw-identity-illustration-2.jpg", :id => "whatifwe6", :class => "scroll-medium" %>
      <%= image_tag "page_entertainment/wiw-website-design-mobile.jpg", :id => "whatifwe7", :class => "scroll-medium" %>
    </div>

    <%= partial "layouts/work_with_us" %>
  </div>
</div>