<div id="main">
  <div class="top-background"></div>
  <div class="content">
    <div class="top-insert-outline">
      <div class="top-insert">
        <h1>Environment</h1>
        <h2>DFM applies the same design process to environmental space. From concept look and feel, custoner experience and flow, to materials, to construction and logistics, DFM continues the brand story into physical form.</h2>
      </div>
    </div>
    <div class="top-container">
      <div id="" class="row">
        <%= image_tag "page_environment/makeup_station.png", :id => "makeup-station", :class => "ease scroll-medium" %>
        <%= image_tag "page_environment/books.png", :id => "books", :class => "ease scroll-medium" %>
      </div>
      <div id="" class="row">
        <%= image_tag "page_environment/spatz.png", :id => "spatz", :class => "ease scroll-medium" %>
        <div id="section-01" class="heading-section">
          <h1 class="scroll-slow-left">Concept Design</h1>
          <h1 class="scroll-slow-left">Plan</h1>
          <h1 class="scroll-slow-left">Rendering</h1>
          <h1 class="scroll-slow-left">Production</h1>
        </div>
      </div>
      <div id="" class="row">
        <%= image_tag "page_environment/three_pics.png", :id => "three-pics", :class => "ease scroll-medium" %>
        <%= image_tag "page_environment/four_women.png", :id => "four-women", :class => "ease scroll-medium" %>
        <%= image_tag "page_environment/selvarey.png", :id => "selvarey-pic", :class => "ease scroll-medium" %>
      </div>
      <div id="" class="row">
        <%= image_tag "page_environment/onsen_left.png", :id => "onsen-left", :class => "ease scroll-medium" %>
        <%= image_tag "page_environment/onsen_right.png", :id => "onsen-right", :class => "ease scroll-medium" %>
      </div>
    </div>
    <%= partial "layouts/work_with_us" %>
  </div>
</div>