<div id="main">
  <div class="top-background"></div>
  <div class="content">
    <div class="top-insert-outline">
      <div class="top-insert">
        <h1>Fashion</h1>
          </div>
        </div>
        <div class="portfolio-text-insert">
          <p>Shopping is a hobby for some and a delicate craft for us. We are discerning, intuitive, and are always tuned for a unique luxury experience in-store and online. The world of fashion goes beyond shopping and becomes a persons unique identity, making them not only look, but feel a certain way. Our job is to translate that emotion in a way that is simply elegant.</p>
          <div></div>
      <h2>Heidi Merrick</h2>
      <p class="tagline">Logo Design &#47; Website Design</p>
    </div>
    <div class="image-container-heidi">      
      <%= image_tag "page_fashion/HEIDI_MERRICK_logo.png", :id => "heidi", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/dfm-fashion-photo.png", :id => "lineup", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/dfm-fashion-photography.png", :id => "lineup-2", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/merrick-imac.png", :id => "sl-imac", :class => "scroll-medium" %>
    </div>
    <div class="portfolio-text-insert">
      <h2>Velvet by <br>Graham &amp; Spencer</h2>
      <p class="tagline">UI/UX Design &#47; e-Commerce Website Design &#47; <br>Website maintenance</p>
    </div>
    <div class="image-container-velvet">
	<%= image_tag "page_fashion/dfm-fashion-collection.png", :id => "lineup-3", :class => "scroll-medium" %>
	<%= image_tag "page_fashion/stackedstuff.png", :id => "four-pics", :class => "scroll-medium" %>
	<%= image_tag "page_fashion/velvet_square.png", :id => "velvetsquare", :class => "scroll-medium" %>
	<%= image_tag "page_fashion/velvetcomputers.png", :id => "velvet-computers", :class => "scroll-medium" %>
	<%= image_tag "page_fashion/bts_summer_13.jpg", :id => "summer", :class => "scroll-medium" %>
    </div>
    <div class="portfolio-text-insert">
      <h2>Geoffrey Good</h2>
      <p class="tagline">Brand Identity &#47; Collateral &#47; Package Design &#47; Photography &#47; Website</p>
    </div>
    <div class="image-container-good">
    <%= image_tag "page_fashion/photo.jpg", :id => "woman", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/rings.jpg", :id => "rings", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/thing.png", :id => "thing", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/boxset.png", :id => "boxset", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/TH.png", :id => "th", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/woman2.png", :id => "woman2", :class => "scroll-medium" %>
      
    </div>
    <div class="portfolio-text-insert">
      <h2>Trumpet &amp; Horn</h2>
      <p class="tagline">Brand Identity &#47; Brand Story &#47; Collateral &#47; Photography &#47; Package Design &#47; E-Commerce</p>
    </div>
    <div class="image-container-th">
      <%= image_tag "page_fashion/trophy.png", :id => "th-trophy", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/th-logo.png", :id => "th-logo", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/TH_rings2.png", :id => "th-rings2", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/th-devices.png", :id => "th-devices", :class => "scroll-medium" %>
    </div>
    <div class="portfolio-text-insert">
      <h2>Golden Hour</h2>
      <p class="tagline">Brand Identity &#47; Brand Story &#47; Naming &#47; Website Design &#47; Label Design &#47; Hangtag Design</p>
    </div>
    <div class="image-container-gh">
      <%= image_tag "page_fashion/gh-book.jpg", :id => "gh-book", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/gh-tag.png", :id => "gh-tag1", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/gh-tagg.png", :id => "gh-tag2", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/GH_banner.png", :id => "gh-banner", :class => "scroll-medium" %>
    </div>
    <%= partial "layouts/work_with_us" %>
  </div>
</div>