<div id="main">
  <div class="top-background"></div>
  <div class="content">
    <div class="top-insert-outline">
      <div class="top-insert">
        <h1>Fashion</h1>
        <h2><em>The Industry</em></h2>
      </div>
    </div>
    <div class="portfolio-text-insert">
      <p>Dunt at ist evel id esequis qui od ere, quatiumqui blaccus nobit perum re re rem int officip icatur arionse sunt rem aperit, sam qui blabo. Aritis et asit ommodit aut harum et qui ipsaeptatur? Qui dolores tios- tion necerate ipicaborepti ad que nis aut volorporum facepre cerciis nos dit alia invercil eum eatureritat.</p>
      <div></div>
    </div>
    <div class="image-container">
      <%= image_tag "page_fashion/HEIDI_MERRICK_logo.png", :id => "heidi", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/lineupblueblack.png", :id => "lineup", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/lineupblueblack.png", :id => "lineup-2", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/merrick-imac.png", :id => "sl-imac", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/lineup.png", :id => "lineup-3", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/stackedstuff.png", :id => "four-pics", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/velvet_square.png", :id => "velvetsquare", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/velvetcomputers.png", :id => "velvet-computers", :class => "scroll-medium" %>

      <%= image_tag "page_fashion/photo.jpg", :id => "woman", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/bts_summer_13.jpg", :id => "summer", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/rings.jpg", :id => "rings", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/thing.png", :id => "thing", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/boxset.png", :id => "boxset", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/TH.png", :id => "th", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/woman2.png", :id => "woman2", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/trophy.png", :id => "th-trophy", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/th-logo.png", :id => "th-logo", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/TH_rings2.png", :id => "th-rings2", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/th-devices.png", :id => "th-devices", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/gh-book.jpg", :id => "gh-book", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/gh-tag.png", :id => "gh-tag1", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/gh-tagg.png", :id => "gh-tag2", :class => "scroll-medium" %>
      <%= image_tag "page_fashion/GH_banner.png", :id => "gh-banner", :class => "scroll-medium" %>
    </div>
    <%= partial "layouts/work_with_us" %>
  </div>
</div>