<div id="main">
  <div class="top-background"></div>
  <div class="content">
    <div class="top-insert-outline">
      <div class="top-insert">
        <h1>Imagery</h1>
        <h2>Images are the window to the brand. They excite, drive, and compel an audiance to act, connect, and remember. We think in images and create them in our sleep. Here are some of our best.</h2>
      </div>
    </div>
    <div class="top-container">
      <div class="row">
        <%= image_tag "page_imagery/twelve_pics.png", :id => "twelve_pics", :class => "ease scroll-medium" %>
        <%= image_tag "page_imagery/mustache.png", :id => "mustache", :class => "ease scroll-medium" %>
        <%= image_tag "page_imagery/babies.png", :id => "babies", :class => "ease scroll-medium" %>
      </div>
      <div class="row">
        <%= image_tag "page_imagery/makeup.png", :id => "makeup", :class => "ease scroll-medium" %>
        <%= image_tag "page_imagery/four_pics.png", :id => "four_pics", :class => "ease scroll-medium" %>
      </div>
      <div class="row">
        <%= image_tag "page_imagery/three_pics.png", :id => "three_pics", :class => "ease scroll-medium" %>
        <%= image_tag "page_imagery/flying.png", :id => "flying", :class => "ease scroll-medium" %>
        <%= image_tag "page_imagery/blue_shirt.png", :id => "blue_shirt", :class => "ease scroll-medium" %>
      </div>
      <div class="row">
        <%= image_tag "page_imagery/jewelry.png", :id => "jewelry", :class => "ease scroll-medium" %>
        <%= image_tag "page_imagery/green_stick.png", :id => "green_stick", :class => "ease scroll-medium" %>
      </div>
      <div class="row">
        <%= image_tag "page_imagery/glass_stuff.png", :id => "glass_stuff", :class => "ease scroll-medium" %>
        <%= image_tag "page_imagery/nine_foods.png", :id => "nine_foods", :class => "ease scroll-medium" %>
      </div>
    </div>
    <%= partial "layouts/work_with_us" %>
  </div>
</div>