<div id="main">
  <div class="top-background"></div>
  <div class="content">
    <div class="top-insert-outline">
      <div class="top-insert">
        <h1>Imagery</h1>
        <h2>Images are the window to the brand. They excite, drive, and compel an audience to act, connect, and remember. We think in images and create them in our sleep. Here are some of our best.</h2>
      </div>
    </div>
    <div class="image-container">
      <%= image_tag "page_imagery/mcqueen-identity-photography-2.png", :id => "twelve-pics", :class => "scroll-medium" %>
      <%= image_tag "page_imagery/mcqueen-identity-photography-1.png", :id => "mustache", :class => "scroll-medium" %>
      <%= image_tag "page_imagery/photography-babies.png", :id => "babies", :class => "scroll-medium" %>
      <%= image_tag "page_imagery/Marketing-photography-3.png", :id => "makeup", :class => "scroll-medium" %>
      <%= image_tag "page_imagery/Marketing-photography-2.png", :id => "four-pics", :class => "scroll-medium" %>
      <%= image_tag "page_imagery/TH-marketing-photography-4.png", :id => "three-pics", :class => "scroll-medium" %>
      <%= image_tag "page_imagery/Marketing-photography-1.png", :id => "flying", :class => "scroll-medium" %>
      <%= image_tag "page_imagery/TH-marketing-photography-1.png", :id => "blue-shirt", :class => "scroll-medium" %>
      <%= image_tag "page_imagery/TH-marketing-photography-3.png", :id => "jewelry", :class => "scroll-medium" %>
      <%= image_tag "page_imagery/TH-marketing-photography-2.png", :id => "green-stick", :class => "scroll-medium" %>
      <%= image_tag "page_imagery/AVF-marketing-photography-3.png", :id => "glass-stuff", :class => "scroll-medium" %>
      <%= image_tag "page_imagery/Marketing-photography-4.png", :id => "nine-foods", :class => "scroll-medium" %>
    </div>
    <%= partial "layouts/work_with_us" %>
  </div>
</div>