<div id="main">
  <div class="top-background"></div>
  <div class="content">
    <div class="top-insert-outline">
      <div class="top-insert">
        <h1>Interactive</h1>
        <h2>Modern web design is a complex composition of business strategy, marketing, and system integration, cloaked in imagery that communicates to a specific audience. DFM brings approachable creative vision to the process and provies insight, direction, and experience to the entrepreneur and executive team.</h2>
      </div>
    </div>

    <div class="container">
      <%= image_tag "page_interactive/chic_party.png", :id => "chic-party", :class => "scroll-medium" %>
      <%= image_tag "page_interactive/colored_squares.png", :id => "colored-squares", :class => "scroll-medium" %>
      <%= image_tag "page_interactive/computers.png", :id => "computers", :class => "scroll-medium" %>
      <%= image_tag "page_interactive/colored_words.png", :id => "colored-words", :class => "scroll-medium" %>
      <%= image_tag "page_interactive/font.png", :id => "font", :class => "scroll-medium"  %>
      <%= image_tag "page_interactive/six_pics.png", :id => "six-pics", :class => "scroll-medium" %>
      <div id="red-text">
        Websites are like paintings, but the paint never dries. They are constantly changing and being reworked. For most start-ups and small business, budget requires these changes to be done in-house. DFM provides the tools to effectively manage and build a brand on-line. In addition, DFM supports enterprise level clients on a monthly basis.
      </div>
      <%= image_tag "page_interactive/computer_with_circles.png", :id => "computer-with-circles", :class => "scroll-medium" %>   
      <%= image_tag "page_interactive/site_pages.png", :id => "site-pages", :class => "scroll-medium" %>

      <div id="heading-section-1" class="heading-section">
        <h1 class="scroll-slow-right">UX / UI</h1>
        <h1 class="scroll-slow-right">Infographic</h1>
        <h1 class="scroll-slow-right">Responsive</h1>
        <h1 class="scroll-slow-right">design</h1>
      </div>
      <div id="heading-section-2" class="heading-section">
        <h1 class="scroll-slow-left">Platform</h1>
        <h1 class="scroll-slow-left">integration</h1>
      </div>
      <div id="heading-section-3" class="heading-section">
        <h1 class="scroll-slow-left">Managed</h1>
        <h1 class="scroll-slow-left">and supported</h1>
        <h1 class="scroll-slow-left">operation</h1>
      </div>
      <div id="heading-section-4" class="heading-section">
        <h1 class="scroll-slow-right">Sitemap</h1>
        <h1 class="scroll-slow-right">Wireframe</h1>
        <h1 class="scroll-slow-right">Concept</h1>
        <h1 class="scroll-slow-right">design</h1>
      </div>
    </div>

    <%= partial "layouts/work_with_us" %>
  </div>
</div>