<div id="main">
  <div class="top-background"></div>
  <div class="parallax-background"></div>
  <div class="content">

    <div class="top-container">
      <div class="top-insert-outline">
        <div class="top-insert">
          <h1>Kavaldon</h1>
          <h3>Website &amp; Packaging</h3>
        </div>
      </div>

      <div class="portfolio-text-insert">
        <h1 class="scroll-medium">Branding</h1>
        <p>Kavaldon represents an uncompromising devotion to luxury fragrance. Each Kavaldon scent is a unique composition of the world's most lavish and exotic fragrances. Inspired by a mood, a memory, a touch, a Kavaldon candle will instantly ignite sophistication.  Hand-crafted and poured in Los Angeles, Kavaldon candles are the definition of luxury fragrance with refined style.</p>
        <div></div>
      </div>
      <%= image_tag "page_kavaldon/candles_new.jpg", :class => "scroll-medium", :id => "candles" %>
      
      <div class="image-container">
        <div id="foursquare"></div>
        <div id="right-container">
          <div id="scent">The scent of <br><span id="italics">style</span></div>
          <%= image_tag "page_kavaldon/retouched_founder.png", :class => "scroll-medium", :id => "sexy-couple" %>
          <div id="inspired-with-squares">
            <div id="inspired">Inspired by fashion, art, and the edge of<br>everything and nothing, the Kavaldon<br>brand is elegantly simple to balance out the<br>full bouquet of their product line.</div>
          </div>
          <%= image_tag "page_kavaldon/kavaldoncoaster.png", :class => "scroll-medium", :id => "bw-squares" %>
          <div id="rose-parent">
            <%= image_tag "page_kavaldon/jesiree-journal.gif", :class => "scroll-medium", :id => "rose" %>
          </div>
        </div>
      </div>

    </div>

    <div class="parallax"></div>

    <div class="bottom-container">
      <div id="kslash"><div class="portfolio-text-insert" id="paragraph2">
          <h1>Interactive Design</h1>
          <p>A fully responsive site, Kavaldon has elegant but subtle transitions and animations to make the interactive experience rich. Overlays and graphic elements define the mood of each fragrance prompting the user to connect with the scent.</p><br>
          <p id="kavaldon-page">
            <a href="http://www.kavaldon.com/" target="_blank">http://www.kavaldon.com/</a>
          </p>  
        </div>       

        <div class="site-page" id="computer">
          <%= image_tag "page_kavaldon/new_computer.png", :class => "scroll-medium" %>
        </div>

        <%= image_tag "page_kavaldon/apple_bite_crop.gif", :class => "scroll-medium", :id => "apple" %>

      <div class="site-page">
        <%= image_tag "page_kavaldon/site_page_1.jpg", :class => "scroll-medium" %>
      </div>
      <div class="site-page">
        <%= image_tag "page_kavaldon/site_page_2.jpg", :class => "scroll-medium" %>
      </div>
      <div class="site-page">
        <%= image_tag "page_kavaldon/site_page_3.jpg", :class => "scroll-medium" %>
      </div>
      <div class="site-page">
        <%= image_tag "page_kavaldon/site_page_4.jpg", :class => "scroll-medium" %>
      </div>
      <div class="site-page">
        <%= image_tag "page_kavaldon/site_page_5.jpg", :class => "scroll-medium" %>
      </div>
      <div class="site-page">
        <%= image_tag "page_kavaldon/site_page_6.jpg", :class => "scroll-medium" %>
      </div>
      </div>
    
    </div>
    <%= partial "layouts/work_with_us" %>
  </div>
</div>