<div id="main">
  <div class="top-background"></div>
  <div class="content">
    <div class="top-insert-outline">
      <div class="top-insert">
        <h1>Life Style</h1>
        <h2><em>The Industry</em></h2>
      </div>
    </div>
    <div class="portfolio-text-insert">
      <p>Eating, drinking, parenting, growing, chilling, the elements of life outside of work. It’s the weekend, the summer, the memories lived. Living in LA, we have it good. Great weather, casual vibe, and a refined palate that bridges cultures. Our brands come to us for a taste of that life lived. One that is urban, casual, and simply cool.</p>
      <div></div>
      <h2>the spot gourmet</h2>
      <p><em>Brand Identity &#47; Brand Story &#47; Naming &#47; Product Design &#47; Retail Design</em></p>
    </div>
    <div class="image-container-thespot">      
      <%= image_tag "page_lifestyle/Project-Page-Layout-Spot-V21.png", :id => "spot-left", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/About_v5.jpg", :id => "about", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/Spot-iMac-Mock.png", :id => "spot_imac", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/Project-Page-Layout-Spot-V22.png", :id => "spot-right", :class => "scroll-medium" %>
      
      <%= image_tag "page_lifestyle/grid.png", :id => "grid", :class => "scroll-medium" %>
    </div>
    <div class="portfolio-text-insert">
      <h2>luterra food group</h2>
      <p><em>Brand Identity &#47; Brand Story &#47; Naming &#47; Product Design &#47; Package Design &#47; Retail Design</em></p>
    </div>
    <div class="image-container-luterra">
      <%= image_tag "page_lifestyle/logo.png", :id => "logo", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/luterra2.png", :id => "luterra2", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/luterra3.png", :id => "luterra3", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/luterra-letterhead-CMYK.jpg", :id => "luterra-letterhead", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/luterra4.png", :id => "luterra4", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/nature.png", :id => "nature", :class => "scroll-medium" %>
    </div>
    <div class="portfolio-text-insert">
      <h2>the chic</h2>
      <p><em>Brand Identity &#47; Brand Story &#47; Naming &#47; Product Design &#47; Package Design &#47; Retail Design</em></p>
    </div>
    <div class="image-container-thechic">
      <%= image_tag "page_lifestyle/beauty-onsen.png", :id => "diving", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/onsen_products.png", :id => "onsen-products", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/brochure-ad.png", :id => "brochure", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/beauty_onsen5.png", :id => "onsen-imac", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/beauty_onsen6.png", :id => "cards", :class => "scroll-medium" %>
      
    </div>
    <div class="portfolio-text-insert">
      <h2>skin laundry</h2>
      <p><em>Brand Story &#47; Photography &#47; Website Design &#47; Website Content</em></p>
    </div>
    <div class="image-container-tanya">
      <%= image_tag "page_lifestyle/beauty-skinlaundry.png", :id => "skinlaundry1", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/beauty-skinlaundry2.png", :id => "skinlaundry2", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/beauty_skinlaundry3.png", :id => "skinlaundry3", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/beauty_skinlaundry4.png", :id => "skinlaundry-imac", :class => "scroll-medium" %>
    </div>
    <div class="portfolio-text-insert">
      <h2>b skincare</h2>
      <p><em>Brand Identity &#47; Brand Story &#47; Naming &#47; Package Design &#47; Retail Design</em></p>
    </div>
    <div class="image-container-selvarey">
      <%= image_tag "page_lifestyle/beauty-bskincare.png", :id => "foursquare", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/shichiboxB.png", :id => "bbox", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/beauty_bskincare2.png", :id => "bags", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/B_candle.png", :id => "b-candle", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/beauty_bskincare5.png", :id => "store", :class => "scroll-medium" %>
    </div>
    <div class="portfolio-text-insert">
      <h2>b skincare</h2>
      <p><em>Brand Identity &#47; Brand Story &#47; Naming &#47; Package Design &#47; Retail Design</em></p>
    </div>
    <div class="image-container-challen">
      <%= image_tag "page_lifestyle/beauty-bskincare.png", :id => "foursquare", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/shichiboxB.png", :id => "bbox", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/beauty_bskincare2.png", :id => "bags", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/B_candle.png", :id => "b-candle", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/beauty_bskincare5.png", :id => "store", :class => "scroll-medium" %>
    </div>
    <%= partial "layouts/work_with_us" %>
  </div>
</div>