<div id="main">
  <div class="top-background"></div>
  <div class="content">
    <div class="top-insert-outline">
      <div class="top-insert">
        <h1>Lifestyle</h1>
      </div>
    </div>
    <div class="portfolio-text-insert thespot-text">
      <p>Eating, drinking, parenting, growing, chilling, the elements of life outside of work. It’s the weekend, the summer, the memories lived. Living in LA, we have it good. Great weather, casual vibe, and a refined palate that bridges cultures. Our brands come to us for a taste of that life lived. One that is urban, casual, and simply cool.</p>
      <div></div>
      <h2>the spot gourmet</h2>
      <p class="tagline">Brand Identity &#47; Brand Story &#47; Photography &#47; e-Commerce &#47; Website Design</p>
    </div>
    <div class="image-container-thespot">      
      <%= image_tag "page_lifestyle/Spot-website-design-6.png", :alt => "Spot-website-design-6", :id => "spot-left", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/Spot-website-design-4.jpg", :alt => "Spot-website-design-4", :id => "about", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/Spot-website-design-5.png", :alt => "Spot-website-design-5", :id => "spot_imac", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/Spot-website-design-7.png", :alt => "Spot-website-design-7", :id => "spot-right", :class => "scroll-medium" %>
      
      <%= image_tag "page_lifestyle/Spot-Product-Photography-1.png", :alt => "Spot-Product-Photography-1", :id => "grid", :class => "scroll-medium" %>
    </div>
    <div class="portfolio-text-insert">
      <h2>luterra food group</h2>
      <p class="tagline">Brand Identity &#47; Brand Story &#47; Naming &#47; Product Design &#47; Package Design &#47; Retail Design</p>
    </div>
    <div class="portfolio-text-insert">
      <h2>the chic</h2>
      <p class="tagline">Brand Identity &#47; Collateral &#47; Blog Design</p>
    </div>
    <div class="image-container-thechic">
      <%= image_tag "page_lifestyle/Chic-identity-photography-1.png", :alt => "Chic-identity-photography-1", :id => "right-party", :class => "scroll-slow" %>
      <%= image_tag "page_lifestyle/Chic-website-design-2.png", :alt => "Chic-website-design-2", :id => "logo", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/chic-identity-design-1.png", :alt => "chic-identity-design-1", :id => "left-bc-1", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/chic-identity-design-2.png", :alt => "chic-identity-design-2", :id => "left-bc-2", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/Chic-website-design-3.png", :alt => "Chic-website-design-3", :id => "icons", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/Chic-website-design.png", :alt => "Chic-website-design", :id => "chic-imac", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/Chic-website-design-2.png", :alt => "Chic-website-design-2", :id => "blocks", :class => "scroll-medium" %>
      
    </div>

    <div class="portfolio-text-insert selvarey-text">
      <h2>selvarey</h2>
      <p class="tagline selvarey-paragraph">Brand Story &#47; Packaging Design &#47; Retail Material &#47; Website Design &#47; Tradeshow Booth</p>
    </div>
    <div class="image-container-selvarey">
      <%= image_tag "page_lifestyle/Selvarey-website-design.jpg", :alt => "Selvarey-website-design", :id => "selvarey-imac", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/Selvarey-packaging-design.jpg", :alt => "Selvarey-packaging-design", :id => "bottle", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/selvarey-identity-Photography-2.png", :alt => "selvarey-identity-Photography-2", :id => "shirt", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/selvarey-identity-design-2.jpg", :alt => "selvarey-identity-design-2", :id => "coaster", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/selvarey-identity-Photography-1.jpg", :alt => "selvarey-identity-Photography-1", :id => "napkin", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/selvarey-identity-design-3.png", :alt => "selvarey-identity-design-3", :id => "gorilla", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/Selvarey-website-design-mobile.jpg", :alt => "Selvarey-website-design-mobile", :id => "selvarey-phones", :class => "scroll-medium" %>
    </div>
    <div class="portfolio-text-insert challen-text">
      <h2>Challen Pinot Noir</h2>
      <p class="tagline">Brand Story &#47; Name &#47; Hand Lettering &#47; Logo &#47; Brand Mark &#47; Packaging Design</p>
    </div>
    <div class="image-container-challen">
      <%= image_tag "page_lifestyle/challen-brand-identity-design-2.png", :alt => "challen-brand-identity-design-2", :id => "bottles", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/challen-brand-identity-design.png", :alt => "challen-brand-identity-design", :id => "quote", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/challen-brand-identity-design-4.jpg", :alt => "challen-brand-identity-design-4", :id => "left-inspire", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/challen-brand-identity-design-3.jpg", :alt => "challen-brand-identity-design-3", :id => "right-inspire", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/challen-brand-identity-photography.png", :alt => "challen-brand-identity-photography", :id => "stamp", :class => "scroll-medium" %>
    </div>
    <div class="portfolio-text-insert challen-text">
      <h2>Aquiesse</h2>
      <p class="tagline">Brand Story &#47; Brand Mark &#47; Packaging Design &#47; Website Design</p>
    </div>

    <div class="image-container-aquiesse">
      <%= image_tag "page_lifestyle/aquiesse/aq-retail-packaging-concept-1.jpg", :alt => "aq-retail-packaging-concept-1", :id => "aquiesse1", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/aquiesse/aq-retail-packaging-concept-2.jpg", :alt => "aq-retail-packaging-concept-2", :id => "aquiesse2", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/aquiesse/aq-retail-packaging-concept-3.jpg", :alt => "aq-retail-packaging-concept-3", :id => "aquiesse3", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/aquiesse/aq-retail-packaging-concept-4.jpg", :alt => "aq-retail-packaging-concept-4", :id => "aquiesse4", :class => "scroll-medium" %>
      <%= image_tag "page_lifestyle/aquiesse/aq-retail-packaging-concept-5.jpg", :alt => "aq-retail-packaging-concept-5", :id => "aquiesse5", :class => "scroll-medium" %>
    </div>
    <%= partial "layouts/work_with_us" %>
  </div>
</div>