<div id="main">
  <div class="top-background"></div>
  <div class="content">
    <div class="top-insert-outline">
      <div class="top-insert">
        <h1>Packaging &amp; Collateral</h1>
        <h2>We may be inclined to purchase a product, but great packaging and presentation seals the deal. In addition to designing compelling materials, DFM produces resulting designs and facilities importing and delivery. Turned edge boxes, branded product, custom molded containers, neon signs? These are the challenges that we live for.</h2>
      </div>
    </div>
    <div class="container">
      <div class="outer">
        <div class="inner">
          <!-- ROW -->
          <div class="box row-1">
            <%= image_tag "page_packaging/food_bags.png", :id => "food-bags", :class => "ease scroll-medium" %>
          </div>
          <div class="box row-1">
            <%= image_tag "page_packaging/luterra.png", :id => "luterra", :class => "ease scroll-medium" %>
          </div>
          <div class="box row-1"></div>
          <div class="box row-1">
            <%= image_tag "page_packaging/makeup.png", :id => "makeup", :class => "ease scroll-medium" %>
          </div>
          <!-- ROW -->
          <div class="box row-2">
            <div id="heading-section-1" class="heading-section">
              <h1 class="scroll-slow-right">Appearance</h1>
              <h1 class="scroll-slow-right">model</h1>
              <h1 class="scroll-slow-right">Concept</h1>
              <h1 class="scroll-slow-right">mock-ups</h1>
              <h1 class="scroll-slow-right">Renderings</h1>
            </div>
            <%= image_tag "page_packaging/how_to.png", :id => "how-to", :class => "ease scroll-medium" %>
          </div>
          <div class="box row-2">
            <%= image_tag "page_packaging/well_red.png", :id => "well-red", :class => "ease scroll-medium" %>
          </div>
          <div class="box row-2"></div>
          <div class="box row-2">
            <%= image_tag "page_packaging/chic_pencils.png", :id => "chic-pencils", :class => "ease scroll-medium" %>
          </div>
          <!-- ROW -->          
          <div class="box row-3">
            <%= image_tag "page_packaging/mcqueen.png", :id => "mcqueen", :class => "ease scroll-medium" %>
          </div>
          <div class="box row-3">
            <%= image_tag "page_packaging/b_makeup.png", :id => "b-makeup", :class => "ease scroll-medium" %>
          </div>
          <div class="box row-3"></div>
          <div class="box row-3">
            <%= image_tag "page_packaging/red_box.png", :id => "red-box", :class => "ease scroll-medium" %>
          </div>
          <!-- ROW -->          
          <div class="box row-4"></div>
          <div class="box row-4">
            <div id="heading-section-1" class="heading-section">
              <h1 class="scroll-slow-left">Specialty</h1>
              <h1 class="scroll-slow-left">package</h1>
              <h1 class="scroll-slow-left">Retail</h1>
              <h1 class="scroll-slow-left">materials</h1>
            </div>
          </div>
          <div class="box row-4">
            <%= image_tag "page_packaging/candles.png", :id => "candles", :class => "ease scroll-medium" %>
          </div>
          <div class="box row-4"></div>
          <!-- ROW -->          
          <div class="box row-5">
            <%= image_tag "page_packaging/golden_hour.png", :id => "golden-hour", :class => "ease scroll-medium" %>
          </div>
          <div class="box row-5">
            <%= image_tag "page_packaging/orange_bag.png", :id => "orange-bag", :class => "ease scroll-medium" %>
          </div>
          <div class="box row-5">
            <%= image_tag "page_packaging/white_boxes.png", :id => "white-boxes", :class => "ease scroll-medium" %>
          </div>
          <div class="box row-5">
            <%= image_tag "page_packaging/white_bags.png", :id => "white-bags", :class => "ease scroll-medium" %>
          </div> 
          <!-- ROW -->          
          <div class="box row-6">
            <%= image_tag "page_packaging/business_cards.png", :id => "business-cards", :class => "ease scroll-medium" %>
          </div>
          <div class="box row-6">
            <%= image_tag "page_packaging/folding_things.png", :id => "folding-things", :class => "ease scroll-medium" %>
          </div>
          <div class="box row-6"></div>
          <div class="box row-6"></div>
          <!-- ROW -->
          <div class="box row-7"></div>
          <div class="box row-7"></div>
          <div class="box row-7"></div>
          <div class="box row-7">
            <%= image_tag "page_packaging/white_ribbon.png", :id => "white-ribbon", :class => "ease scroll-medium" %>
          </div>
        </div>
      </div>
    </div>
    <%= partial "layouts/work_with_us" %>
  </div>
</div>
