<div id="main">
  <div class="top-background"></div>
  <div class="content">
    <div class="top-insert-outline">
      <div class="top-insert">
        <h1>Packaging &amp; Collateral</h1>
        <h2>We may be inclined to purchase a product, but great packaging and presentation seals the deal. In addition to designing compelling materials, DFM produces resulting designs and facilities importing and delivery. Turned edge boxes, branded product, custom molded containers, neon signs? These are the challenges that we live for.</h2>
      </div>
    </div>
    <div class="container">
      <%= image_tag "page_packaging/luterra.png", :id => "luterra", :class => "scroll-medium" %>
      <%= image_tag "page_packaging/food_bags.png", :id => "food-bags", :class => "scroll-medium" %>
      <%= image_tag "page_packaging/makeup.png", :id => "makeup", :class => "scroll-medium" %>
      <%= image_tag "page_packaging/how_to.png", :id => "how-to", :class => "scroll-medium" %>
      <%= image_tag "page_packaging/well_red.png", :id => "well-red", :class => "scroll-medium" %>
      <%= image_tag "page_packaging/chic_pencils.png", :id => "chic-pencils", :class => "scroll-medium" %>
      <%= image_tag "page_packaging/mcqueen.png", :id => "mcqueen", :class => "scroll-medium" %>
      <%= image_tag "page_packaging/b_makeup.png", :id => "b-makeup", :class => "scroll-medium" %>
      <%= image_tag "page_packaging/red_box.png", :id => "red-box", :class => "scroll-medium" %>
      <%= image_tag "page_packaging/candles.png", :id => "candles", :class => "scroll-medium" %>
      <%= image_tag "page_packaging/golden_hour.png", :id => "golden-hour", :class => "scroll-medium" %>
      <%= image_tag "page_packaging/orange_bag.png", :id => "orange-bag", :class => "scroll-medium" %>
      <%= image_tag "page_packaging/white_boxes.png", :id => "white-boxes", :class => "scroll-medium" %>
      <%= image_tag "page_packaging/white_bags.png", :id => "white-bags", :class => "scroll-medium" %>
      <%= image_tag "page_packaging/business_cards.png", :id => "business-cards", :class => "scroll-medium" %>
      <%= image_tag "page_packaging/folding_things.png", :id => "folding-things", :class => "scroll-medium" %>
      <%= image_tag "page_packaging/white_ribbon.png", :id => "white-ribbon", :class => "scroll-medium" %>

      <div id="heading-section-1" class="heading-section">
        <h1 class="scroll-slow-right">Appearance</h1>
        <h1 class="scroll-slow-right">model</h1>
        <h1 class="scroll-slow-right">Concept</h1>
        <h1 class="scroll-slow-right">mock-ups</h1>
        <h1 class="scroll-slow-right">Renderings</h1>
      </div>
      <div id="heading-section-2" class="heading-section">
        <h1 class="scroll-slow-left">Specialty</h1>
        <h1 class="scroll-slow-left">package</h1>
        <h1 class="scroll-slow-left">Retail</h1>
        <h1 class="scroll-slow-left">materials</h1>
      </div>
    </div>

    <%= partial "layouts/work_with_us" %>
  </div>
</div>
