<div id="main">
  <div class="top-background"></div>
  <div class="content">
    <div class="top-insert-outline">
      <div class="top-insert">
        <h1>Brand Strategy</h1>
      </div>
    </div>
    <div id="discovery">
      <div id="stroke-blue"></div>
      <h1 class="section-heading scroll-slow-right">Discovery</h1>
      <div id="spatz-text">
        <h2>&amp;</h2>
        <div id="right-col">
          <p>Spatz is...</p>
          <p>Avante-Garde</p>
          <p>Speed</p>
          <p>Efficiency</p>
          <p>Contemporary</p>
          <p>Fashion Forward</p>
          <p>Detailed</p>
          <p>Cool</p>
          <p>Modern</p>
          <p>Unexpected</p>
        </div>
      </div>
      <div id="image-container">
        <%= image_tag "page_strategy/lipstick.png", :id => "lipstick" %>
        <%= image_tag "page_strategy/flower.png", :id => "flower" %>
        <%= image_tag "page_strategy/colors.png", :id => "colors" %>
        <div id="student-spatz">
          <%= image_tag "page_strategy/student.png", :id => "student" %>
          <%= image_tag "page_strategy/spatz.png", :id => "spatz" %>
        </div>
        <div id="stroke-orange"></div>
      </div>
    </div>
    <div id="the-result">
      <h1 class="section-heading scroll-slow-right">The Result</h1>
      <div id="who-we-are" class="text-section">
        <h2>Who We Are</h2>
        <h3>Experienced</h3>
        <p>With 50+ years of know-how, we could just rest on our laurels.  But that's so boring.</p>
        <h3>Creative</h3>
        <p>We don't act our age.  Our company cultivates wonder, creativity and youthful optimism.</p>
        <h3>State-Of-The-Art</h3>
        <p>Technology in spades.  Processing, packaging, and formulas powered by R &amp; D systems second to none.</p>
        <h3>Human Centric</h3>
        <p>We never lose sight of what matters: people. We make work play by creating a thriving environment.</p>
        <h3>Global / Local</h3>
        <p>The best of both worlds. Facilities in the US & China keep clients close to the process, wherever they are.</p>
      </div>
      <div id="how-we-do-it" class="text-section">
        <h2>How We Do It</h2>
        <h3>Ideas</h3>
        <p>Audacious is our comfort zone. Open-plan work spaces ignite creative sparks that spread like wildfire.</p>
        <h3>Innovation</h3>
        <p>Process-oriented. Results-driven. Kaizen, a complete re-design of company structure continually reinvigorates every aspect of business.</p>
        <h3>The Future</h3>
        <p>We design tomorrow. Today. Our category-defining products don't respond to markets, they create markets.</p>
        <h3>Speed</h3>
        <p>Need it yesterday? We're on it. 80,000 sq. feet of US manufacturing space with production lines designed to significantly enhance capacity.</p>
        <h3>Service</h3>
        <p>Our clients are true partners. From ideation to realization and delivery, at every stage of the game, we're right there with you.</p>
      </div>
      <div id="our-story" class="text-section">
        <h2>Our Story</h2>
        <p>We create out-of-the-box beauty solutions that defy all expectations. S12, our radical approach to innovation in process and production, redefines the limits of possible. Faster, streamlined and fully integrated systems eliminate status quo thinking and business as usual. Our considerable experience, expertise and relentlessly creative spirit drives everything we do, ensuring flawless turnkey product that become beloved beyond all reason.</p>
      </div>
      <div id="what-we-do" class="text-section">
        <h2>What We Do</h2>
        <h3>Development</h3>
        <p>S12 makes wow happen. Our integrated innovation spiral improves quality and reduces development time and cost.</p>
        <h3>Production</h3>
        <p>Glitch-free approach. A unique production model outpaces automation &amp; manual models of productivity, quality and lead times.</p>
        <h3>Formula &amp; Packaging</h3>
        <p>We go big. Global R &amp; D capabilities are supported by in-house package design, prototyping, tool fabrication, injection molding, and assembly.</p>
        <h3>Perfection</h3>
        <p>God is in the details. So are we. Our pursuit of excellence led to a 9% acceptance rate of lots delivered in 2012.</p>
      </div>
      <div id="stroke-yellow"></div>
      <div id="stroke-red"></div>
    </div>
    <%= partial "layouts/work_with_us" %>
  </div>
</div>